<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">
                <span class="copyright">Copyright © 2020 Gobe Good</span>
            </div>
            <div class="col-sm-12 col-md-2 social-media">
                <fa-icon class="footer__icons" [icon]="faFacebook"></fa-icon>
                <fa-icon class="footer__icons" [icon]="faTwitter"></fa-icon>
                <fa-icon class="footer__icons" [icon]="faInstagram"></fa-icon>
            </div>
        </div>
    </div>
</footer>