<div class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col" class="table__title">Carrinho</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">
					<img src="./../../assets/img/camiseta-preta.png" alt="Camiseta preta básica">
				</th>
				<td>
					<span class="product-description">Camiseta preta básica</span>
				</td>
				<td>
					<div class="product_quantity text-center">
						<span class="product_text product_num">1</span>
						<div class="qty_sub qty_button text-center"><span>-</span></div>
						<div class="qty_add qty_button text-center"><span>+</span></div>
					</div>
				</td>
				<td class="product_price">R$ 200,00</td>
			</tr>
		</tbody>
	</table>
</div>