<div class="container">
	<table class="table table-hover" *ngIf="products.length !== 0">
		<thead>
			<tr>
				<th scope="col" colspan="2" class="table__title">{{ products.length }}
					{{products.length === 1 ? 'peça' : 'peças'}} no seu carrinho</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let product of products">
				<th scope="row">
					<img [src]="product.urlImage" [alt]="product.description">
				</th>
				<td>
					<div class="product-description"><span>{{ product.description }}</span></div>
					<div class="product-size"><span>Tamanho: {{ product.size }}</span></div>
					<button type="button" class="btn btn-link" (click)="deleteItem(product)">Remover do
						carrinho</button>
					<button type="button" class="btn btn-link">Comprar agora</button>
					
				</td>
				<td>
					<div class="product_quantity text-center">
						<span class="product_text product_num">{{ product.quantity }}</span>
						<div class="qty_sub qty_button text-center" (click)="decrementQuantity(product)"><span>-</span></div>
						<div class="qty_add qty_button text-center" (click)="incrementQuantity(product)"><span>+</span></div>
					</div>
				</td>
				<td class="product_price text-right">{{ product.price * product.quantity | currency:'BRL' }}</td>
			</tr>
			<tr>
				<td colspan="4" class="text-right">
					<div class="total">
						<span>Total</span>
						<span class="total__value">{{ sumTotal() | currency:'BRL' }}</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="button_buy" *ngIf="products.length !== 0">
		<button type="button" class="btn btn-lg btn-info" (click)="goToOrder()">Continuar compra</button>
	</div>
	<div class="jumbotron jumbotron-fluid" *ngIf="products.length === 0">
		<div class="container empty-cart">
			<fa-icon class="icon-cart" [icon]="faShoppingCart"></fa-icon>
			<div>
				<span>Seu carrinho está vazio :(</span>
			</div>
			<button type="button" class="btn btn-lg btn-info" (click)="goToHome()">Continue comprando</button>
		</div>
	</div>

</div>