img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  transform: scale(0.4);
  left: 0;
}

.table td,
.table th {
  padding: 3rem;
  vertical-align: top;
  border-bottom: 1px solid #dee2e6;
  position: relative;
}

thead th:first-child {
  border-top: none;
}

thead {
  border-top: none;
  padding: 3rem 2rem;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.table__title {
  font-size: 20px;
  font-weight: 500;
}

.product_quantity {
  width: 100px;
  height: 50px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 10px;
}
.product_quantity > span {
  line-height: 28px;
  font-size: 16px;
  font-weight: 300;
  color: #4a4a4a;
  text-align: center;
}
.qty_button {
  position: relative;
  transform: translateY(-50%);
  width: 22px;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
  color: #414141;
  bottom: 50%;
}
// .qty_button span {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
.qty_button:hover {
  color: #057b65;
  cursor: pointer;
}
.qty_sub,
.qty_add {
  position: relative;
}

.qty_add > span {
  position: absolute;
  left: 64px;
  bottom: 23px;
  font-size: 20px;
}

.qty_sub > span {
  left: 4px;
  bottom: 0px;
  position: absolute;
  font-size: 23px;
  top: 0;
}

.product_text > span {
  display: none;
}

.product_price {
  font-size: 24px;
  color: #057b65;
}

.product-description {
  font-size: 20px;
  font-weight: 500;
  margin-left: 12px;
}

.product-size {
  margin-left: 12px;
  padding: 10px 0;
}

.jumbotron {
  background-color: #fff;
  box-shadow: 0 0 2px #dedfe0;
}

.empty-cart {
  text-align: center;
}

.icon-cart {
  font-size: 120px;
  color: #ccc;
}

.btn-info {
  background-color: #88c8bc;
  color: #fff;
  border-color: #88c8bc;
  margin-top: 30px;
}

.total {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 500;
}

.total__value {
  padding-left: 30px;
}

.button_buy {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

@media only screen and (max-width: 991px) {
  .product_text > span {
    display: inline-block;
    margin-right: 10px;
  }
  .product_number {
    width: auto;
    padding-left: 0;
  }
}
