<app-header></app-header>
<div class="container">
  <!-- <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../assets/img/product_1.jpg" alt="Imagem de capa do card">
      <div class="card-footer">
        <span class="card-text">T-shirt estampada</span>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/img/product_2.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
        <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo
          adicional.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados 3 minutos atrás</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/img/product_3.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
        <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um
          conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados 3 minutos atrás</small>
      </div>
    </div>
  </div> -->

  <div class="cards">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/img/camiseta-preta.png" alt="Imagem de capa do card">
      <div class="card-body" style="display: flex; justify-content: space-between;">
        <span>Camiseta preta básica</span>
        <span class="price">R$ 29,99</span>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/img/camiseta-branca.png" alt="Imagem de capa do card">
      <div class="card-body" style="display: flex; justify-content: space-between;">
        <span class="card-text">Camiseta branca básica</span>
        <span class="price">R$ 29,99</span>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/img/camiseta-fit.png" alt="Imagem de capa do card">
      <div class="card-body" style="display: flex; justify-content: space-between;">
        <span class="card-text">Camiseta fit azul</span>
        <span class="price">R$ 35,99</span>
      </div>
    </div>
  </div>
</div>

<app-login></app-login>
<app-footer></app-footer>