<div class="container">
  <div class="cards">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/img/camiseta-preta.png" alt="Imagem de capa do card">
      <div class="card-body" style="display: flex; justify-content: space-between;">
        <span>Camiseta preta básica</span>
        <span class="price">R$ 29,99</span>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/img/camiseta-branca.png" alt="Imagem de capa do card">
      <div class="card-body" style="display: flex; justify-content: space-between;">
        <span class="card-text">Camiseta branca básica</span>
        <span class="price">R$ 29,99</span>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/img/camiseta-fit.png" alt="Imagem de capa do card">
      <div class="card-body" style="display: flex; justify-content: space-between;">
        <span class="card-text">Camiseta fit azul</span>
        <span class="price">R$ 35,99</span>
      </div>
    </div>
  </div>
</div>
