<header class="header">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-2">
                    <img src="../../../assets/img/logo2.jpeg" alt="Logotipo" class="logo"  routerLink="/">
                </div>
                <div class="col-sm-7 col-md-6 menu">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado"
                            aria-expanded="false" aria-label="Alterna navegação">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" routerLink="">Roupas</a></li>
                                <li class="nav-item"><a class="nav-link" href="women.html">Acessórios</a></li>
                                <li class="nav-item"><a class="nav-link" href="about.html">Kids</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-sm-9 col-md-4 form-buttons">
                    <form action="#" class="search-wrap">
                        <div class="form-group">
                            <input type="search" class="form-control search" placeholder="O que você está buscando?" [(ngModel)]="searchProduct" name="searchProduct">
                            <button class="btn btn-primary submit-search text-center" type="submit" (click)="getProducts(searchProduct)">
                                <fa-icon [icon]="faSearch"></fa-icon>
                            </button>
                        </div>
                    </form>
                    <div class="icons">
                        <div>
                            <fa-icon class="header__icons" [icon]="faShoppingBag" routerLink="/carrinho"></fa-icon>
                            <span class="item-cart" *ngIf="itemQuantity > 0">{{ itemQuantity }}</span>
                        </div>
                        <fa-icon class="header__icons" [icon]="faUser"></fa-icon>
                        <button (click)="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row header-info">
                <div class="col-md-12 text-left text-lg-center">
                    <div class="header-item">
                        <fa-icon [icon]="faTruck" class="icon-truck"></fa-icon>
                        <span>Frete grátis nas compras acima de R$ 200,00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>