<div class="container">
    <div class="form-register">
        <form class="form-controll">
            <h2>Crie sua conta</h2>
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input class="input-field" type="text" placeholder="Nome" name="usrnm" required>
            </div>

            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input class="input-field" type="email" placeholder="E-mail" name="email" required>
            </div>

            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="Senha" name="psw" required>
            
            </div>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="Confirme a senha" name="psw" required>
            </div>

            <button type="submit" class="btn">Criar conta</button>
        </form>
    </div>
</div>

