<div class="row justify-content-md-center">
    <div class="form-register">
        <form class="form-controll">
            <h1 class="form__title">Crie sua conta</h1>
            <hr>
            <div class="input-container">
                <input class="input-field form-control" type="text" [(ngModel)]="user.name" placeholder="Nome completo"
                    name="usrnm" required>
            </div>

            <div class="input-container">
                <input class="input-field form-control" type="email" placeholder="E-mail" name="email"
                    [(ngModel)]="user.email" required>
            </div>

            <div class="input-container">
                <input class="input-field form-control" type="password" placeholder="Senha" name="psw"
                    [(ngModel)]="user.password" required>
            </div>
            <div class="input-container">
                <input
                    [ngClass]="{'input-field': true, 'form-control': true, 'is-valid': confirmPassword === user.password && confirmPassword, 'is-invalid': confirmPassword !== user.password && confirmPassword }"
                    type="password" placeholder="Confirme a senha" name="psw" [(ngModel)]="confirmPassword" required>
                <span class="invalid-feedback" *ngIf="showMessage">Os campos de senha e confirmação não
                    correspondem</span>
            </div>
            <div class="submit">
                <button type="submit" class="btn btn-lg btn-dark"
                    (click)="registerEmailPassword(user.email, user.password)">Criar conta</button>
            </div>
        </form>
    </div>
</div>