.login-box {
  border-radius: 6px;
  width: 400px;
}

.login-box__header {
  border-bottom: solid 1px #dedfe0;
  color: #29303b;
  font-weight: 600;
  font-size: 18px;
  padding: 24px 64px 24px 24px;
}

.login-box__content {
  padding: 24px 24px 16px;
}

.google {
  background-color: #dd4b39;
  color: white;
}

.google:hover {
  border: 1px solid #dd4b39;
  color: #dd4b39;
  background-color: #fff;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin: 8px 0;
  line-height: 20px;
}


.login-box__footer {
  display: block;
  padding: 0 0 24px;
  text-align: center;
}

#submit {
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  margin-bottom: 16px;
  width: 100%;
}
