<div class="container">
    <div class="login-box">
        <div class="login-box__header">
            Faça login em sua conta
        </div>
        <div class="login-box__content">
            <a (click)="onLoginGoogle()" class="google btn"><i class="fa fa-google fa-fw">
                </i> Login with Google
            </a>
            <div class="col">
                <input type="email" class="form-control" name="username" placeholder="E-mail" required>
                <input type="password" class="form-control" name="password" placeholder="Senha" required>
                <input type="submit" id="submit" value="Fazer login">
                <a href="#">Esqueci minha senha</a>
            </div>
        </div>
        <div class="login-box__footer">
            Não tem uma conta? <a href="#">Cadastre-se</a>
        </div>
    </div>
</div>