/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap';
@import 'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap';

body {
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: "Montserrat", sans-serif; }